<!DOCTYPE html>
<html>
    <head>
        <title>Graphical User Database</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <!-- Nav bar -->
        <div class="nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="#">View</a></li>
                <li><a href="#">Edit</a></li>
            </ul>
        </div>
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
    </body>
</html>