<!DOCTYPE html>
<html>
    <head>
        <title>GUDB</title>    

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="/static/js/index.js"></script>
    </head>
    <body>
        <h1>Graphical User Database</h1>
        <p>Welcome to the Graphical User Database, or GUDB.</p>
        
        <label for="tables">Select a table:</label>
        <select name="tables" id="tables_dropdown">
            <option value="none" selected disabled hidden>...</option>
        </select>
        
        
    </body>
</html>